<ion-toolbar>
  <ion-title>Borrower's Information</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button color="primary">SAVE</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list lines="full">
    <ion-item-divider>
      <ion-label>
        Personal Information
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>First name</ion-label>
      <ion-input autocomplete="off" class="ion-text-right" placeholder="First name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Middle name</ion-label>
      <ion-input autocomplete="off" class="ion-text-right" placeholder="Middle name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last name</ion-label>
      <ion-input autocomplete="off" class="ion-text-right" placeholder="Last name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Birthdate</ion-label>
      <ion-datetime display-timezone="utc"></ion-datetime>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Income Information
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Occupation</ion-label>
      <ion-input autocomplete="off" class="ion-text-right" placeholder="Occupation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Source of income</ion-label>
      <ion-input autocomplete="off" class="ion-text-right" placeholder="Source of income"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Income per month</ion-label>
      <ion-input autocomplete="off" class="ion-text-right" placeholder="Icome per month"></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Contact Information
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Phone No.</ion-label>
      <ion-input autocomplete="off" inputmode="tel" class="ion-text-right" placeholder="Phone No."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input autocomplete="off" inputmode="email" class="ion-text-right" placeholder="Email"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
